.panel-heading{
  background-color:  #083358;
}
.panel-heading>h4{
  font-family: Avenir;
  text-decoration: none;
  font-size: 16px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: white;
}
.panel-body>p{
 font-family: Avenir;
 font-size: 16px;
 font-weight: ;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #4a4a4a;
}
a:hover, a:focus {
  color: #23527c;
  text-decoration: none;
}