.slider{
  padding: 54px 0;
}
.btnoval{
	text-align: center;
    border-radius: 50%;
    background-color: #083358;
    width: 50px;
    height: 50px;
    color: white;
    padding: 9px;
}
.Cari-tiket-pesawat-d {
  width: 255.9px;
  height: 22px;
  /*font-family: Avenir;*/
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ff6107;
}
.tiket-pesawat{
	background-color: #f1f4f5;
	padding: 13px;
	text-align: center;
}
.border-tiket{
	border-left: 2px solid #979797;
}
@media (max-width: 690px){
	.border-tiket{
		border-left: 0px solid #979797;
	}
}
.jalan{
	height: 22px;
  /*font-family: Avenir;*/
  font-size: 16px!important;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a !important;
}