
input[type=radio   ]:not(old){
  width     : 1em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  cursor: pointer;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 20px;
  height           : 20px;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 2px solid #0f4471;
  border-radius    : 50%;
  background       : #ffff;
  vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span{
  background-color: #ffff;
}



input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 10px;
  height           : 10px;
  margin           : 3px;
  border           : 0px solid rgb(115,153,77);
  border-radius    : 50%;
  background       : #0f4471;
}
.upload-wraper{
  background-color: pink;
  border-radius: 8px;
  border: solid 1px #9b9b9b;
}
.btn-upload{
  background-color: #f1f4f5;
  padding: 7.5px;
  font-size: 15px;
  float: right;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
   border-radius: 0px 8px 8px 0px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
    width: 30%;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#uploadFile{
  background-color: white;
  padding: 6px;
  border-radius: 8px 0px 0px 8px;
  border:none;
  font-size: 15px;
  width: 70%;
  right: 0;
  color: #4a4a4a;
}

