@font-face {
  font-family: avenir;
  src: url(Avenir-Medium.ttf);
}
html body{
  font-family: 'Avenir';
}
.kiri{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  padding-top: 15px;
  margin-bottom: 20px;
}
.foto1{
  height: 120px;
}
.lingkaran{
  margin: auto;
  width: 120px;
  height: 120px;
  background-color: #9b9b9b; 
  border-radius: 50%;
}
.nama{
  margin-top: 5px;
  vertical-align: middle;
  font-size: 21px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
  text-align: center;
  color: #0f4471;
}
.point{
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
}
.menu{
  margin-bottom: 1px;
}
.menu:hover, .menu>.text:hover{
  background-color: #083358;
  color: white;
}
.menu.mpan, .menu.mpan>.text{
  background-color: #083358;
  margin-bottom: 1px;
  color: white;
}
.text{
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  padding: 15px 0px 15px 25px; 
}

.kanan{
 background-color: white;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
 padding-top: 56px;
 padding-bottom: 56px;
 /*
 padding-left: 10vh;
 padding-right: 10vh;*/
}
.judul{
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f4471;

}
.Upfoto{
  margin-bottom: 30px;
}
.row-edit{
  margin-top: 10px;
  margin-bottom: 10px;
}
.bunder{
  width: 120px;
  height: 120px;  
  border-radius: 50%;
  background-color: #9b9b9b;
}

.inText{
  width: 100%;
  background-color: white;
  height: 38px !important;
  border-radius: 6px;
  border: solid 1px #979797;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #4a4a4a;
}

/*point saya*/

.poin{  
 border: solid 1px #9b9b9b;
 padding: 0px;
 border-radius: 4px;
}
.total-point{ 
 background-color: #0f4471;
 text-align: center;
 color: white;
 padding-top: 2vh;
 padding-bottom: 2vh;
 border-radius: inherit;
 font-weight: bold;
}
.total-point>h3{
  color: white;
  margin-top: 2vh;
  margin-bottom: 0px;
  font-weight: bold;
}
.total-transaksi{
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #4a4a4a;
  font-weight: bold;
}
.total-transaksi>h3{
  color: #4a4a4a;
  margin-top: 2vh;
  margin-bottom: 0px;
  font-weight: bold;
}
.tukar-poin{
  font-size: 20;
  color: #0f4471;
  font-weight: bold;
  margin-top: 32px;
}
.paket{
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 16px;
}
.gambar-pkt{
 padding: unset;
}
.gambar-pkt>img{
  width:  100%;
  height: 200px;
}
.detail-paket{
  background-color: pink;
}
.detail-paket1{
  color: #0f4471;
  font-size: 15px;
}
.detail-paket2{
  color: #ff6107;
  text-align: right;
  font-size: 15px;
}
.detail-paket3{
  color: #4a4a4a;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
.detail-paket4{
  color: #9b9b9b;
  font-size: 15px;
}
.detail-paket5{
  color: #9b9b9b;
  font-size: 15px;
}
.detail-paket6{
  color: #9b9b9b;
  font-size: 12px;
  margin-top: 1vh;
}
.detail-paket7{
  color: #ff6107;
  font-size: 24px;
  font-weight: bold;
}

/*pesanan saya*/
.judul-pesanan{
  color: #0f4471;
  font-weight: bold;
  font-size: 24px;
}
.row-edit select{
  padding: 6px;
  border-radius: 5px;
}

/*pengaturan akun*/

.judul-pengaturan{
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f4471;
  margin-bottom: 56px;
}
.row-edit label{
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.row-edit input[type=radio]{
  margin-right: 8px;
}
.info{
  margin-top: 1vh;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.btn-batal{
  border: unset;
  padding: 13px 40px 13px 40px;
  border-radius: 6px;
  background-color: #f1f4f5;
  font-size: 15px;
  font-weight: bold;
  color: #9b9b9b;
}
.btn-simpan{
  border: unset;
  padding: 13px 51px 13px 51px;
  border-radius: 6px;
  background-color: #ff6107;
  color: white;
  font-size: 15px;
  font-weight: bold;
}


.lokasi{
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f4471;
}
.nama-paket{
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-bottom: 32px;
  margin-top: 16px;
}
.line{
  height: 2px;
  border: solid 1px #9b9b9b;
}
.detail-pkt{
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 15px;
  margin-bottom: 15px;
}
.detail-pkt i{
 margin-right: 1em;
}
.prog-bar{
  margin-top: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 6px;
  background-color: #0f4471;
}
.bar-text{
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.judul-isi{
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f4471;
  margin-top: 32px;
  margin-bottom: 16px;
  padding-left: unset;
}
.form-pemesan{
  border: solid 1px #979797;
  margin-top: 16px;
  padding-top: 56px;
  padding-bottom: 56px;
}
.tipe-tamu{
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.line-form{
  border: solid 1px #9b9b9b;
  margin-top: 15px;
  margin-bottom: 15px;
}

#button {
  margin: 5% auto;
  width: 100px;
  text-align: center;
}

#button a {
  background-image: linear-gradient(to bottom,#2a95c5,#21759b);
  background-image: -o-linear-gradient(to bottom,#2a95c5,#21759b);
  background-image: -ms-linear-gradient(to bottom,#2a95c5,#21759b);
  background-image: -moz-linear-gradient(to bottom,#2a95c5,#21759b);
  background-image: -webkit-linear-gradient(to bottom,#2a95c5,#21759b);
  background-color: #2e9fd2;
  width: 86px;
  height: 30px;
  vertical-align: middle;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
}

#popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,.7);
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
}

.window {
  width: 80%;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 31px;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  margin: 8% auto;

}

.close-button {
  width: 20px;
  height: 20px;
  color: #414042;
  display: block;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

#popup:target {
  visibility: visible;
}

.popup-1{
  font-family: Avenir;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0f4471;
}
.popup-2{
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  margin-top: 15px;
  margin-bottom: 31px;
}
.box-konfirmasi{
  background-color: #ececec;
  padding: 31px;
  margin-bottom: 44px;
}
.popup-3{
 font-size: 20px;
 font-weight: 900;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: #ff6107;
}
.popup-4{
 font-size: 19px;
 font-weight: 900;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: #4a4a4a;
 margin-top: 15px;
}

/*footer css new*/
.merek{
  font-size: 35px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-left: unset;
  margin-bottom: 29px;
}
.layanan{
  font-family: 'Avenir';
  color: white;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2pt;
  padding: unset;
}
.layanan2{
  font-family: 'Avenir';
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5pt;
  color: #ffffff;
  padding: unset;
}
.foot-judul{
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-left: unset;
  margin-top: 32px;
}
.foot-link{
 font-size: 15px;
 font-weight: 500;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #ffffff;
 padding-left: unset;
 margin-top: 8px;
}
.foot-link a{
 color: white;
}
.foot-link i{
 margin-right: 10px;
 font-size: 20px;
}



/*nav bar utama*/
.sf-menu a {
  color: white;
  font-family: 'Avenir';
  font-weight: normal;
  letter-spacing: 0.5pt;
  font-size: 16px;
  padding: 0.75em 0em 0.20em 0em !important;
}
.sf-menu li { 
  margin-right: 1em;
  margin-left: 1em;
}

.sf-menu li.active a{
  color: white;
  border-bottom: #ff6107 solid 3px !important;
  width: 100%;
}
.sf-menu a:hover{
  color: unset !important;
}

#fh5co-primary-menu > li > .sf-with-ul:after {
  border: unset !important;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 2;
  margin-right: -1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  font-size: 12px;
  margin-top: -7px;
  content: "\e922";
  color: white;
}

.fh5co-nav-toggle.dark i {
  background: white;
  color: white;
}
.fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after{
  background: white;
  color: white;
}


/*prosese pembyaran*/

.box-data-pemesan{
  border: solid 1px #9b9b9b;
  margin-bottom: 16px;
  padding-bottom: 32px;
}
.box-atm{
  border: solid 1px #9b9b9b;
  padding: 2em;
  margin-bottom: 32px;
}
.box-akordion{
  border: solid 1px #9b9b9b;
  padding: unset;
  border-top: unset;
}
.box-transaksi{
  border: solid 1px #9b9b9b;
  padding-right: unset;
  padding-left: unset;
}
.kode-transaksi{
  background-color: #0f4471;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 2em;
  font-size: 15px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.dtl-pemesan{
  padding-left: unset;
  margin-top: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
@media screen and (min-width: 601px) {
  .dtl-pemesan {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .dtl-pemesan {
    font-size: 14px;
  }
}
.rincian-hrg{
 font-size: 20px;
 font-weight: 900;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #0f4471;
 margin-bottom: 16px;
 margin-top: 16px;
}
.rincian-hrg1{
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #4a4a4a;
}
.rincian-hrg2{
  font-size: 15px;
  font-weight: 550;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 16px;
}
.rincian-hrg2 div{
  margin-top: 16px;
}
.rincian-hrg-line{
  margin-top: 16px;
  border: solid 1px #979797;
}
.total-hrg{
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin: 16px 0px;
}
.total-hrg1{
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff6107;
}
.pakai-promo{
 font-size: 12px;
 font-weight: 900;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #4a4a4a;
 margin: 16px 0px;
}
.pakai-promo1{
  width: 100%;
  border-radius: 8px;
  border: solid 1px #979797;
  height: 10px;
}
.btn-pakai-promo{
  border: unset;
  padding: 13px 51px 13px 51px;
  border-radius: 6px;
  background-color: #ff6107;
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}
.cara-bayar{
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2pt;
  color: #4a4a4a;
  padding: 23px 16px;
  border-bottom: solid 1px #979797;
  border-top: solid 1px #979797;
}
.cara-bayar2{
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  padding-top: 16px;
  padding-bottom: 16px;
}
.cara-bayar3{
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #4a4a4a;
  padding-left: 32px;
}
.cara-bayar4{
  width: 100%;
  height: 40px !important; 
  border-radius: 6px;
  border: solid 1px #979797;
  margin-bottom: 32px;
}

/*report pembayaran*/

.cek-ok{
  text-align: center;
  font-size: 52px;
  font-weight: 900;
  color: #417505;
}
.cek-ok1{
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 32px;
}
.cek-ok2{
 font-size: 16px;
 font-weight: 900;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: #0f4471;
 margin-top: 45px;
}
.rincian-pemesanan{
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  padding-left: unset;
  margin-bottom: 32px;
}
.rincian-pemesanan1{
 font-size: 16px;
 font-weight: 500;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #4a4a4a;
}
.rincian-pemesanan2{
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.rincian-pemesanan3{
 font-size: 14px;
 font-weight: 500;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #4a4a4a;
}
.data-tamu{
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 32px;
}
.data-tamu1{
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 16px;
}

/*detail tour*/

.btn-plh-periode{
  background-color: #083358;
  border: unset;
  padding: 10px 51px 10px 51px;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}
.btn-psn-tour{
  background-color: #ff6107;
  border: unset;
  padding: 10px 51px 10px 51px;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  width: 100%;
  margin-bottom: 15px;
}

.menu-dtl-tour{
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin: 1.5em 0px;
}
.foto1{
  width: 100%;
  height: 100%;
}
.galeri2{
  margin-top: 16px;
  padding-left: unset;
  padding-right: unset;
}
.galeri2 .col-md-3{

}
.foto2{
  width: 100%;
  height: 180px;
  margin-bottom: 16px;
  margin-top: 32px;
}
.itinerary{
  margin-top: 16px;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f4471;
}
.box-itinerary{
  margin-top: 37px;
}
.isi-itinerary{
  margin-left: 22px;
  border-left: dotted #ff6107  2px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: justify;
  color: #4a4a4a;
  padding-bottom: 4em;
  padding-left: 38px;
}

.bal{
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: #ff6107;
}
#ity-hari{
 font-size: 18px;
 font-weight: 900;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #ff6107;
}
#ity-judul{
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;

}
.box-snk{
 font-size: 16px;
 font-weight: 500;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.88;
 letter-spacing: normal;
 color: #4a4a4a;
 padding-left: 32px;
 padding-top: 32px;
}



.box-pkt-tour{
  margin-top: 32px;
}
.box-pkt-tour a .pkt-tour:hover{
  background-color: rgba(0,0,0,0.05);
}
.pkt-tour{
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  padding-left: unset;
  padding-right: unset;
  padding-bottom: 16px;
}
.img-pkt{
  width: 100%;
  height: 90%;
  margin-bottom: 16px;
}
.pkt-tour-dtl1-L{
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f4471;
}
.pkt-tour-dtl1-R{
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff6107;
  right: 0px;
}
.pkt-tour-dtl2{
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 8px;
  margin-bottom: 8px;
}
.pkt-tour-dtl3{
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  margin-top: 8px;
  margin-bottom: 8px;
}
.pkt-tour-dtl4-L{
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f4471;
}
.pkt-tour-dtl4-R{
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff6107;
}
/*detail in popo up*/
.popup-periode-judul{
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-bottom: 32px;
}
.head-popup-periode{
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.head-popup-periode .col-md-3{
  padding-left: unset;
}
.head-popup-periode .line{
  margin-top: 16px;
}
.body-popup-periode{
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  padding-top: 20px;
  padding-bottom: 20px;}
  .body-popup-periode .col-md-3{
    padding-left: unset;
    margin-bottom: 32px;
  } 
  .body-popup-periode .sub-body{
    background-color: #ececec;
    padding: 16px;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
  }
  .sub-body .btn-plh-periode2{
   background-color: #ff6107;
   border: unset;
   padding: 10px 20px 10px 20px;
   border-radius: 6px;
   color: white;
   font-size: 15px;
   font-weight: bold;
   letter-spacing: 1px;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   margin-top: 16px;
 }
 .sub-body font{
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0f4471;
}
.sub-body .in-pkt-tour{
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
  padding: 4px;
  border-radius: 6px;
}
/*pencarian tour*/

.box-cari-pkt{
  margin-top: 96px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  padding-bottom: 32px;
  padding-top: 38px;
}
@media screen and (max-width: 600px) {
  .box-cari-pkt {
    margin-top: 1em;
  }
}
.box-cari-pkt1{
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff6107;
}
.box-cari-pkt2{
  background-color: ;
  margin-top: 25px;
}
.in-cari-pkt-negara{
  border-radius: 6px;
  border: solid 1px #979797;
  width: 100%;
  margin-top: 4px;
  margin-top: 4px;
  padding-top: 22px;
  padding-bottom: 4px;
  padding-left: 29px;
  font-weight: bold;
  font-size: 16px;
  color: #4a4a4a;
}
.in-cari-pkt-date{
  border-radius: 6px;
  border: solid 1px #979797;
  width: 100%;
  margin-top: 4px;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 35px;
  font-weight: bold;
  font-size: 16px;
  color: #4a4a4a;
}
.in-icon{
  color: #4a4a4a;
  font-size: 20px !important;
  margin-top: 20px;
  position: absolute;
  margin-left: 10px;
}
.box-cari-pkt2 label{
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
  margin-top: 10px;
  position: absolute;
  margin-left: 35px;
}
.btn-cari-pkt{
  background-color: #ff6107;
  border: unset;
  padding: 10px 15px 10px 15px;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  width: 100%;
  margin-top: 4px;
}
.hasil-cari{
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 39px;
}
.filter-cari{
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  padding: 2px 5px;
}

/*baruuuuuuuuuuuuuuuuuuu*/

/*home page*/
.hm-box-tiket{
  margin-top: -48px;
  background-color: white;  padding: 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}
.hm-box-tiket .left{
  background-color: ;
  padding: 0px 0px;
}
.hm-box-tiket .right{
  background-color: ;
  padding: 0px 0px;
  border-left: solid 2px #979797;
}
.left .col-md-12{
  padding: 13px 15px;
  margin-bottom: 1px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.left .col-md-12>i{
  margin-right: 16px;
}
a .hidup, .hidup i, .col-md-12 .hidup{
  background-color: #083358;
  color: white;
}
.hm-box-tiket .left a .col-md-12:hover{
  background-color: #083358;
  color: white;
}
.judul-cari-tiket{
  padding: 13px 16px;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff6107;
  background-color: #f1f4f5;
}
.form-cari-tiket{
  padding: 32px 16px;
  background-color: ;
}
.form-cari-tiket .lbl-1{
  font-size: 15px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.form-cari-tiket .lbl-2{
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  display: block;
  margin-top: 16px;
}
span.icon{
  position: absolute;
  padding: 8px 9px;
  border-right: solid 1px #979797;
  color: #4a4a4a;
}
.form-cari-tiket select{
  width: 100%;
  border-radius: 6px;
  padding: 8px 5px;
  padding-left: 40px;
  border: solid 1px #979797;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.form-cari-tiket input[type='date']{
  width: 100%;
  border-radius: 6px;
  padding: 12px 0px;
  padding-left: 37px;
  border: solid 1px #979797;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.btn-cari-tiket-pesawat{
  margin-top: 39px;
  border: unset;
  padding: 10px 51px 10px 51px;
  border-radius: 6px;
  background-color: #ff6107;
  color: white;
  font-size: 15px;
  letter-spacing: 0.75px;
  font-weight: bold; 
}
.box-mitra{
  margin-top: 103px;
}
.mitra-kiri{
 padding: unset;
 margin-bottom: 16px;
}
.mitra-kiri1{
  font-size: 24px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.mitra-kiri2{
 font-size: 20px;
 font-weight: 0;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #9b9b9b;
}
.mitra-kiri3{
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b; 
}
.mitra-kanan{
  padding: unset;
}
.hm-fitur{
  color: white;
}
.hm-fitur1{
 font-size: 24px;
 font-weight: ;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: 0.2px;
 text-align: center;
 color: #ffffff;
 margin-bottom: 68px;
}
.hm-fitur2{
  padding: unset;
  font-size: 16px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}
.hm-fitur2 img{
  margin-bottom: 32px;
}
.hm-fitur2 .col-md-3{
  margin-bottom: 16px;
}
.hm-fitur3{
  margin-top: 40px;
  font-size: 15px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}
.hm-penawaran1{
  font-size: 24px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.hm-penawaran2{
  font-size: 20px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  margin-bottom: 32px;
}
.hm-penawaran-menu{
  padding: unset;
}
.hm-penawaran-menu>.col-md-2{
  padding-bottom: 16px !important;
}
.hm-penawaran-menu>.col-md-2>a{
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
}
.hm-penawaran-menu>.col-md-2>a:hover{
 color: #4a4a4a !important;
 border-bottom: 3px solid #ff6107;
}
.hm-penawaran-menu .active{
  color: #4a4a4a !important;
  border-bottom: 3px solid #ff6107;
}
.hm-penawaran3-left{
  margin-top: 10px;
  background-color: red;
  padding: unset;
  height: 496px;
}
.hm-penawaran3-right{
  padding: unset;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: blue;
  height: 233px;
}
.hm-penawaran3-right>img, .hm-penawaran3-left>img{
  height: 100%;
  width: 100%
}
.hm-penawaran3-text, .hm-penawaran3-text2{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  bottom: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #ffffff;
}
.hm-penawaran3-text2{
  font-size: 18px;
}
.get-info{
  padding: unset;
}
.get-info-left1{
  font-size: 24px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 16px;
}
.get-info-left2{
  font-size: 18px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.get-info-right{
  margin-top: 16px;
}
.in-get-info{
  border-radius: 8px;
  background-color: #ffffff;
  width: 70%;
  padding-left: 15px;
  border: unset;
  outline: none;
}
.btn-get-info{
  border-radius:0px 8px 8px 0px;
  background-color: #ff6107;
  border: unset;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 14px 5%;
  margin: unset;
  position: absolute;
  margin-left: -20px;
}


/*cari nkamar hotel*/
.btn-cari-hotel{
  margin-top: 39px;
  border: unset;
  padding: 10px 20% 10px 20%;
  border-radius: 6px;
  background-color: #ff6107;
  color: white;
  font-size: 15px;
  letter-spacing: 0.75px;
  font-weight: bold; 
}

/*register page*/

.box-register{
  background-color: ;
  margin-top: -90px;
}
.box-register-kiri{
  padding: 15px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.16);
}
.box-register-kanan{
  background-color: ;
  margin-top: 90px;
  padding-left: 30px;
}
.box-register-kiri1{
  font-size: 20px;
  font-weight: 900 ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #4a4a4a;
  margin-top: 15px;
}
.box-register-kiri2{
  margin-top: 15px;
}
.box-register-kiri2 form div{
  padding: unset;
}
.box-register-kiri2 form div label{
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  margin-top: 16px;
}
.box-register-kiri2 form div input[type='text'],.box-register-kiri2 form div input[type='password']{
  width: 100%;
  border-radius: 6px;
  border: solid 1px #979797;
  padding: 20px 10px;
  height: 30px !important;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}
.btn-register{
  width: 90%;
  margin-top: 32px;
  border: unset;
  padding: 10px 51px 10px 51px;
  border-radius: 6px;
  background-color: #ff6107;
  color: white;
  font-size: 15px;
  letter-spacing: 0.75px;
  font-weight: bold; 
}

.box-register-kiri3{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 16px;
  margin-bottom: 32px;
}
.box-register-kiri3 a{
  color: #0f4471;
  font-weight: bold;
}
.box-register-kiri4{
  padding: unset;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
.box-register-kiri4 a{
 color: #0f4471;
 font-weight: bold;
}
.box-register-kanan1{
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f4471;
  margin-top: 32px;
  margin-bottom: 32px;
}
.box-register-kanan2{
  font-size: 20px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #9b9b9b;
}
/* frquenli asked question faq*/
.faq-title{
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff6107;
}
.box-faq{
 padding: 15px;
 border-radius: 4px;
 background-color: #ffffff;
 box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.16);
}
.box-faq1{
  padding: 0px 0px 15px 0px;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.box-faq2{
  padding: 0px 0px 5px 0px;
  font-size: 18px;
  font-weight:;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

/*login*/
.box-login{  
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.5);
  padding: 16px;
  position: absolute;
  right: 100px;
}
.box-login1{
  font-family: 'Avenir';
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  padding-left: unset;
}
.box-login2{
  padding: unset;
}
.box-login2 div{
  padding: unset;
}
.box-login2 label{
  font-size: 13px !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 16px;

}
.box-login2 form div input[type='text'], .box-login2 form div input[type='password']{
  width: 100%;
  border-radius: 6px;
  border: solid 1px #979797;
  padding: 20px 10px;
  height: 30px !important;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  outline: none;
}
.btn-login{
  width: 90%;
  margin-top: 32px;
  border: unset;
  padding: 10px 51px 10px 51px;
  border-radius: 6px;
  background-color: #ff6107;
  color: white;
  font-size: 15px;
  letter-spacing: 0.75px;
  font-weight: bold; 
}
.box-login3{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  margin-top: 16px;
}

.down-login{
  margin-top: -15px;
  display: none;
}
a.show{
  cursor: pointer;
}

/*kantor kami*/

.box-alamat{
 padding: 1em 0.5em;
 border-radius: 15px;
 background-color: #ffffff;
 box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.16);
}
.box-alamat1{
  font-size: 19px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ff6107;
  margin-top: 15px;
}
.box-hubungi{
 padding: 1em 0.5em;
 border-radius: 15px;
 background-color: #ffffff;
 box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.16);
 margin-top: 30px;
}
.box-hubungi1{
  font-size: 21px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: black;
  margin-top: 15px;
  margin-bottom: 20px;
}
.box-hubungi3{
  font-size: 14px;
  margin-left: 15px;
  color: black;
}
.btn-chat1{
  padding: 10px;
  background-color: #ff6107;
  color: white;
  margin-top: 10px;
}
.btn-chat2{
  padding: 10px;
  background-color: #0f4471;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-chat1 i, .btn-chat2 i{
  margin-right: 15px;
}
.btn-go{
  text-align: right;
  margin-top: -50px;
}
.circle-btn-go{
  border-radius: 50%;
  background-color: #0f4471;
  height: 70px;
  width: 70px;
  padding: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.16);
  color: white;
  font-size: 21px;
}
#location{
  padding: 6px;
  margin-left: 10%;
  margin-top: 10px;
  width: 300px;
  border: none;
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.16);
  font-size: 12px;
  color: black;
}
/*berita promo event*/
.hm-berita{
  background-color: ;
  padding: unset;
}
.berita-wraper{
  margin-bottom: 20px;
  padding: unset;
  color: black;
}
.hm-berita1{
  text-align: center;
  font-size: 27px;
  margin-bottom: 25px;
}
.hm-berita2{
  padding: unset;
}
.hm-berita3{
  text-align: justify;
  font-size: 13px;
  padding-left: 8px;
}
.hm-berita4{
  text-align: justify;
  font-size: 14px;
  margin-top: 18px;
  padding-left: 8px;
  color: #FF7F00;
  font-weight: bold;
}
.hm-promo{
  background-color: ;
  padding: 0px 1em;
}
.promo-wraper{
  margin-bottom: 20px;
  padding: unset;
}
.hm-promo1{
 text-align: center;
 font-size: 27px;
 margin-bottom: 25px;
}
.hm-promo2{
  padding: unset;
}
.hm-promo3{
  padding: unset;
  text-align: center;
  padding: 10px 15px;
  background-color: #F2F2F2;
  color: #0F4372;
  font-size: 15px;
}
.hm-promo4{
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  color: #FF7F00;
  font-weight: bold;
}
.hm-event{
  background-color: ;
}
.event-wraper{
  padding: unset;
  margin-bottom: 20px;
}
.hm-event1{
  text-align: center;
  font-size: 27px;
  margin-bottom: 25px;
}
.hm-event2{
  background-color: #6FC5D6;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  padding: 10px 15px;
  color: white;
  height: 80px;
}
.hm-event3{
  background-color: #F1F1F1;
  color: black;
  font-size: 15px;
  height: 80px;
  padding: 15px 15px;
}
/*detail berita*/
.dtl-berita1{
  color: #F78536;

}
.dtl-berita2{
  color: black;
  font-size: 24px;
}
.dtl-berita3{
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.dtl-berita4{
  text-align: right;
  font-size: 25px;
  color: red;
}
.dtl-berita4 i{
  background-color: #073358;
  padding: 5px;
  color: white;
}
.dtl-berita5{
  margin-top: 20px;
  text-align: justify;
  font-size: 17px;
  color: black;
  margin-bottom: 30px;
}


.tour-populer1{
  text-align: center;
  font-size: 24px;
  border-bottom: 2px #B4B4B4 solid;
  color: black;
  margin-bottom: 7px;
  margin-top: -7px;
  font-weight: bold;
}
.tour-populer2{
  padding: unset;
  margin-bottom: 15px;
}
.tour-populer3{
  background-color: white;
  padding: 2px;
  text-align: center;
  margin-top: -25px;
  opacity: 1;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  opacity: 0.9;
  font-size: 14px;
}

/*carivisapaspor*/
.nav-tab{
  list-style: none;
  margin-bottom: unset;
  padding: 0px 0px;
}
.nav-tab li{
  display: inline-block;
}
.nav-tab li a{
  padding: 5px 0px;
  text-decoration: none;
  color: white;
  position: relative;
  display: inherit;
  font-weight: bold;
  font-family: 'Avenir';
  color: #9b9b9b;
  letter-spacing: 0.5px;
  margin-right: 15px;
}
.tab-konten{
  display: none;
}
.nav-tab li a.onactv{
  border-bottom: 3px solid #ff6107;
  color: #4a4a4a;
}
.nav-tab li a:hover{
  border-bottom: 3px solid #ff6107;
  color: #4a4a4a;
}








.copyright{
  text-align: center;
  font-size: 16px;
  font-weight: ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5;
  color: #ffffff;
}